$bg_primary: #121619;

$darkg_header_bg: #222831;
$darkg_secondary_bg: #1e2428;

$search_form: #2c3338;

$border: #3a4147;

$chip_active: rgb(13, 19, 31);
$chip_hover: rgb(25, 35, 54);

$typography_primary: #d1d5db;
$typography_secondary: #9ca3af;
